fastapi
uvicorn
openai
sentence_transformers
pymupdf
numpy
pydantic
psycopg2-binary
python-multipart
python-dotenv
pgvector
torch>=2.3.0
torchvision>=0.18.0
transformers>=4.41.2
pillow
einops
timm
flash_attn
accelerate
scipy
